<!doctype html>
<html>
<head>
  <style>
    .greenarea {
      margin-left: auto;
      margin-right: auto;
      border-radius: 2px;
      border: 1px solid black;
      width: 60%;
      background-color: #F2FBEF;
      padding-top: 10px;
      padding-left: 25px;
      padding-bottom: 25px;
      padding-right: 25px;
      border-radius: 5px;
    }

    .centeredDiv {
      width: 50%;
      margin: 0 auto;
    }

    .centeredElement {
      margin-left: auto;
      margin-right: auto;
      width: 60%;
    }

    .centerWithinDiv {
      text-align: center;
    }

    .col-centered {
      float: none;
      margin: 0 auto;
    }

  </style>

  <script src="//code.jquery.com/jquery-3.0.0.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <title>ISIL-tietokanta</title>

</head>

<body>

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="/">Suomeksi</a></li>
          <li><a href="/en/">In English</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tietoja <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/">Mitä ovat ISIL-tunnukset?</a></li>
              <li><a href="/api">Rajapinta</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/admin">Ylläpito</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container_fluid">
    <div class="centerWithinDiv" style="height:100px">
      <img src="img/logo.gif" alt="Kansalliskirjaston logo">
    </div>
  </div>


<br /><br />

{{{body}}}

<br /><br />

</body>
</html>
