<!doctype html>
<html>
<head>


  <script src="//code.jquery.com/jquery-3.0.0.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <title>ISIL-databas</title>

</head>

<body>

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/">Suomeksi</a></li>
          <li class="active"><a href="/sv/">På svenska</a></li>
          <li><a href="/en/">In English</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Information<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/sv/">Vad är ISIL-identifikatorer?</a></li>
              <li><a href="/sv/api">Gränssnitt</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container_fluid">
    <div class="centerWithinDiv" style="height:100px">
      <img src="img/logo.png" alt="Nationalbibliotekets logotyp">
    </div>
  </div>


<br/><br/>

{{{body}}}

<br /><br />

</body>
</html>
