<!doctype html>
<html lang="en">
<head>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/style.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  <title>The ISIL Standard Identifiers of Finnish Libraries</title>

</head>

<body>

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/">Suomeksi</a></li>
          <li><a href="/sv/">På svenska</a></li>
          <li class="active"><a href="/en/">In English</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Information<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/en/">What are ISIL Identifiers?</a></li>
              <li><a href="/en/api">API</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container_fluid">
    <div class="centerWithinDiv" style="height:100px">
      <img src="../img/logo_en.png" alt="Logo of the National Library">
    </div>
  </div>

  <br />

  <div class="greenarea">
    <div class="container_fluid">
      <div class="centeredElement">

        <div class="row">
          <h3 class="centerWithinDiv">The ISIL Standard Identifiers of Finnish Libraries</h3><br />
        </div>
      </div>

      <div class="container_fluid">
        <div class="centerWithinDiv">
          <div class="col-md-12">
            <div class="row">
             <form class="form-inline" action ="/en/process?form=query" method="POST">

              <div class="form-group">
                <label for="options" style="display:none;">Options</label>
                <select name="select" class="form-control" id="options">
                  <label for="organization">Search by organization</label>
                  <option value="Haku organisaatioista" id="organization" selected>Search by organization</option>
                  <label for="city">Search by city</label>
                  <option value="Haku paikkakunnalla" id="city">Search by city</option>
                  <label for="isil">Search by ISIL</label>
                  <option value="Haku tunnuksella" id="isil">Search by ISIL</option>
                </select>
              </div>

              <div class="form-group">
                <label for="query" style="display:none;">Query</label>
                <input type="text" class="form-control" id="query" name="query" placeholder="Query">
              </div>

              <button type="submit" class="btn btn-default">Search</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  <br /><br /><br />

  <div class="centerWithinDiv">
    You can search the ISIL registry by selecting a suitable option from the drop-down menu and entering a query into the search field.
    <br />
    The query is automatically truncated and capitalization is ignored. An empty search returns a complete list of ISIL identifiers.
    <br />
    <br />
    <div class="alert alert-info alert-box" role="alert"><strong>Note:</strong> the names and locations of libraries are provided in only one language for each library, Finnish or Swedish.</div>
  </div>

</div>

<br /><br />

{{{body}}}

<br /><br />

</body>
</html>
