<!doctype html>
<html lang="fi">
<head>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/style.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  <title>ISIL-tietokanta</title>

</head>

<body>

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li class="active"><a href="/">Suomeksi</a></li>
          <li><a href="/sv/">På svenska</a></li>
          <li><a href="/en/">In English</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tietoja <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/">Mitä ovat ISIL-tunnukset?</a></li>
              <li><a href="/api">Rajapinta</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container_fluid">
    <div class="centerWithinDiv" style="height:100px">
      <img src="img/logo.png" alt="Kansalliskirjaston logo">
    </div>
  </div>

  <br />

  <div class="greenarea">
    <div class="container_fluid">
      <div class="centeredElement">

        <div class="row">
          <h3 class="centerWithinDiv">Suomalaisten kirjastojen ISIL-tunnukset</h3><br />
        </div>
      </div>

      <div class="container_fluid">
        <div class="centerWithinDiv">
          <div class="col-md-12">
            <div class="row">
             <form class="form-inline" action ="/process?form=query" method="POST">

              <div class="form-group">
                <label for="options" style="display:none;">Hakuvaihtoehdot</label>
                <select name="select" class="form-control" id="options">
                  <label for="organization">Haku organisaatioista</label>
                  <option value="Haku organisaatioista" id="organization" selected>Haku organisaatioista</option>
                  <label for="city">Haku paikkakunnalla</label>
                  <option value="Haku paikkakunnalla" id="city">Haku paikkakunnalla</option>
                  <label for="isil">Haku tunnuksella</label>
                  <option value="Haku tunnuksella" id="isil">Haku tunnuksella</option>
                </select>
              </div>  
              
              <div class="form-group">
                <label for="query" style="display:none;">Haku</label>
                <input type="text" class="form-control" id="query" name="query" placeholder="Haku">
              </div>

              <button type="submit" class="btn btn-default">Hae</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  <br /><br /><br />

  <div class="centerWithinDiv">
    Voit tehdä haun ISIL-tunnuksista kohdistamalla haun alasvetovalikosta ja syöttämällä hakusanan hakukenttään.<br />
    Kirjastojen nimet ja paikkakunnat ovat vain yhdellä kielellä, suomeksi tai ruotsiksi.<br />
    Hakusana katkaistaan automaattisesti eikä haku ei tee eroa isojen ja pienten kirjaimien välillä. Tyhjä haku näyttää kaikki ISIL-tunnukset.
  </div>

</div>

<br /><br />

{{{body}}}

<br /><br />

</body>
</html>
