<!doctype html>
<html>
<head>
  <style>
    .greenarea {
      margin-left: auto;
      margin-right: auto;
      border-radius: 2px;
      border: 1px solid black;
      width: 60%;
      background-color: #F2FBEF;
      padding-top: 10px;
      padding-left: 25px;
      padding-bottom: 25px;
      padding-right: 25px;
      border-radius: 5px;
    }

    .centeredElement {
      margin-left: auto ;
      margin-right: auto ;
      width: 60%;
    }

    .centerWithinDiv {
      text-align: center;
    }

    .col-centered {
      float: none;
      margin: 0 auto;
    }

  </style>

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <title>ISIL-tietokanta</title>

</head>

<body>

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tietoja <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/">Mitä ovat ISIL-tunnukset?</a></li>
              <li><a href="/apiguide">Rajapinta</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/">Ylläpito</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container_fluid">
    <div class="centerWithinDiv" style="height:100px">
      <img src="img/logo.gif" alt="Kansalliskirjaston logo">
    </div>
  </div>

  <br />

  <div class="greenarea">
    <div class="container_fluid">
      <div class="centeredElement">

        <div class="row">
          <h3 class="centerWithinDiv">Suomalaisten kirjastojen ISIL-tunnukset</h3><br />
        </div>
      </div>

      <div class="container_fluid">
        <div class="centerWithinDiv">
          <div class="col-md-12">
            <div class="row">
             <form class="form-inline" action ="/process?form=query" method="POST">

              <div class="form-group">
                <select name="select" class="form-control">
                  <option value="Haku organisaatioista" selected>Haku organisaatioista</option>
                  <option value="Haku paikkakunnalla">Haku paikkakunnalla</option>
                  <option value="Haku tunnuksella">Haku tunnuksella</option>
                </select>
              </div>

              <div class="form-group">
                <input type="text" class="form-control" name="query" placeholder="Haku">
              </div>

              <button type="submit" class="btn btn-default">Hae</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  <br /><br /><br />

  <div class="centerWithinDiv">
    Voit tehdä haun ISIL-tunnuksista kohdistamalla haun alasvetovalikosta ja syöttämällä hakusanan hakukenttään.<br />
    Hakusana katkaistaan automaattisesti. Tyhjä haku näyttää kaikki ISIL-tunnukset.
  </div>

</div>

<br /><br />

{{{body}}}

<br /><br />
<script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
{{{_sections.jquery}}}
</body>
</html>