<div class="greenarea">
    <h1>Saavutettavuusseloste</h1>
    <p>Tämä verkkosivusto ei täytä lain digitaalisten palvelujen tarjoamisesta 306/2019 kaikkia vaatimuksia. Vaatimusten noudattamatta jättämiset mainitaan jäljempänä.</p>
    <h2>Ei-saavutettava sisältö</h2>
    <p>Seuraava sisältö ja/tai toiminnot eivät ole vielä vaatimusten mukaisia:</p>
    <p>Navigaatiopalkin teksti on liian himmeällä.</p>
    <h2>Saavutettavuuspuutteista ilmoittaminen</h2>
    <p>Sähköpostilla osoitteeseen isil-tunnistepalvelu(at)helsinki.fi.</p>
    <h2>Valvontaviranomaisen yhteystiedot</h2>
    <p>Liikenne- ja viestintävirasto Traficom</p>
    <p>Digitaalisen esteettömyyden ja saavutettavuuden valvontayksikkö</p>
    <p><a style="color:Blue;" href="https://www.saavutettavuusvaatimukset.fi/fi" target="_blank">www.saavutettavuusvaatimukset.fi</a></p>
    <p>saavutettavuus(at)traficom.fi</p>
    <p>puhelinnumero vaihde 029 534 5000</p>
</div>