<div class="greenarea">
    <h1>Saavutettavuusseloste</h1>
    <p>Tämä verkkosivusto ei täytä lain digitaalisten palvelujen tarjoamisesta 306/2019 kaikkia vaatimuksia. Vaatimusten noudattamatta jättämiset mainitaan jäljempänä.</p>
    <h2>Ei-saavutettava sisältö</h2>
    <p>Seuraava sisältö ja/tai toiminnot eivät ole vielä vaatimusten mukaisia:</p>
    <p>Navigaatiopalkin teksti on liian himmeällä.</p>
    <h2>Saavutettavuuspuutteista ilmoittaminen</h2>
    <p>Sähköpostilla osoitteeseen isil-tunnistepalvelu(at)helsinki.fi.</p>
    <h2>Valvontaviranomaisen yhteystiedot</h2>
    <p>Etelä-Suomen aluehallintovirasto</p>
    <p>Saavutettavuuden valvonnan yksikkö</p>
    <p>www.saavutettavuusvaatimukset.fi</p>
    <p>saavutettavuus(at)avi.fi</p>
    <p>puhelinnumero vaihde 0295 016 000</p>
</div>