<div class="greenarea">
  <h3 class="centerWithinDiv">Rajapinta</h3>
  <br />
  <span class="text">

    Voit ladata ISIL-tietokannan datan kokonaisuudessaan JSON-muodossa osoitteesta <a href="/api">/api</a>. Vain koko dumpin ottaminen on toistaiseksi mahdollista, parametrillisiä rajapintakyselyitä ei tueta. Data sisältää seuraavat elementit:</span>

    <br /><br />

    <div style="width:50%">

      <ul class="list-group">

        <li class="list-group-item">Organisaation nimi</li>
        <li class="list-group-item">Paikkakunta tai -kunnat</li>
        <li class="list-group-item">ISIL-tunnus</li>
        <li class="list-group-item">Linda-tunnus (jos on)</li>
        <li class="list-group-item">organisaation mahdolliset aikaisemmat nimet</li>

      </ul>
    </div>

    <span class="text">
      JSON on muotoa:
    </span>

    <br /><br />
    
  <pre>
[
  {
    "name":"Centria amk / Raudaskylän Kristillisen Opiston kirjasto",
    "isil":"FI-Kphum",
    "linda":"Kphum",
    "cities":["Ylivieska"],
    "former":""
  }, ... 
]</pre>

</div>