<div class="greenarea">
    <h1>Accessibility Statement</h1>
    <p>This web page does not fulfil all requirements imposed by the Act on the Provision of Digital Services (306/2109). Shortcomings are enumerated below.</p>
    <h2>Non-Accessible Content</h2>
    <p>Text in the navigation bar is too dim.</p>
    <h2>Reporting Shortcomings</h2>
    <p>By email: isil-tunnistepalvelu(at)helsinki.fi.</p>
    <h2>Supervisory Authority</h2>
    <p>Regional State Administrative Agency for Southern Finland</p>
    <p>Unit of Accessibility Oversight</p>
    <p>www.saavutettavuusvaatimukset.fi (in Finnish and Swedish)</p>
    <p>Email saavutettavuus(at)avi.fi</p>
    <p>Tel. exchange 0295 016 000</p>
</div>