<div class="greenarea">
    <h1>Accessibility Statement</h1>
    <p>This web page does not fulfil all requirements imposed by the Act on the Provision of Digital Services (306/2109). Shortcomings are enumerated below.</p>
    <h2>Non-Accessible Content</h2>
    <p>Text in the navigation bar is too dim.</p>
    <h2>Reporting Shortcomings</h2>
    <p>By email: isil-tunnistepalvelu(at)helsinki.fi.</p>
    <h2>Supervisory Authority</h2>
    <p>Finnish Transport and Communications Agency Traficom</p>
    <p>Digital Accessibility Supervision Unit</p>
    <p><a style="color:Blue;" href="https://www.webaccessibility.fi" target="_blank">www.webaccessibility.fi</a></p>
    <p>Email saavutettavuus(at)traficom.fi</p>
    <p>telephone switchboard 029 534 5000</p>
</div>