<div class="greenarea">
	<h4>ISIL - International Standard Identifier for Libraries and Related Organizations</h4>
	<span class="text">

  An ISIL identifies a library, an archive, a museum or a related organization, or one of its subordinate units. Besides these institutions, an ISIL can also be assigned to agencies co-operating or doing business with these organizations, such as suppliers, publishers, (pilkku) and government institutions. ISIL is intended to be used as a permanent identifier. The structure and scope of an ISIL is defined in the standard ISO 15511:2011.

		An ISIL consists of three components:</span>
		<br /><br />

		<ol>
			<li><strong>a prefix</strong>, usually an alpha-2 country code,</li>
      <li>a hyphen and</li>
      <li><strong>a unit identifier</strong>.</li>
		</ol>

		<span class="text">
    A country code consists of two uppercase letters as specified in ISO 3166-1. The country code for Finland is FI. A unit identifier is an alphanumeric element designed to identify an organization. Existing identifiers, such as the Finnish Union Catalogue, or Melinda codes, can be used to form an ISIL by attaching them to a prefix element. The possible Scandinavian characters must be converted to their international counterparts (ä, å --> a, ö --> o).
		</span>

		<br /><br />

		<div class="centeredElement">
			<div class="well">
				An example:
				The ISIL of the Turku University's Teacher Education Library in Rauma is FI-Tro, where <strong>FI</strong> is the country prefix and <strong>Tro</strong> the unit identifier (previously used Linda code).
			</div>
		</div>

		<span class="text">
      An ISIL is a permanent identifier for organizations. Therefore, it cannot be modified after registration. However in the case of a significant organizational change, such as a merger, a new ISIL can be allocated.
		</span>
    

		<br /><br />

		<h4>Distribution</h4>

		ISIL standard identifiers are assigned and administered by national allocation agencies. In Finland the agency is the National Library. The international ISIL Registration Authority is the <a href="http://biblstandard.dk/isil/">Danish Agency for Culture and Palaces</a>.

		<br />

		<br />
		<div class="centeredElement" style="width:40%">
			<div class="panel panel-default">

				<div class="panel-heading">
					<h5 class="panel-title">Contact information for the Finnish agency:</h5>
				</div>

				<div class="panel-body" style="text-align:left">

					<address>
						<strong>
							National Library of Finland</strong><br />
							Library Network Services<br />
							Box 15 (Yliopistonkatu 1)<br />
							00014 University of Helsinki<br />
							E-mail: linnea-posti(a)helsinki.fi
						</address>
					</div>
				</div>
			</div>
        <a style="color:Blue;" href="/en_accessibility">Accessibility report</a>
		</div>
