<div class="greenarea">
	<h4>ISIL - kirjastojen ja vastaavien organisaatioiden kansainvälinen standarditunnus</h4>
	<span class="text">

		ISIL (International Standard Identifier for Libraries and Related Organizations) -järjestelmän tarkoituksena on määritellä ja edistää standarditunnusten käyttöä kirjastojen ja vastaavien organisaatioiden tunnistamiseen yksiselitteisesti ja konekielisesti. Tavoitteena on myös sen mahdollisimman hyvä yhteensopivuus jo olemassa olevien muiden järjestelmien kanssa. ISIL-muotoinen standarditunnus sisältyy esimerkiksi kokoelmia kuvailevaan ISCI-tunnukseen ja kirjastoissa käytettävään RFID-tunnisteeseen.


		ISIL-tunnus koostuu kahdesta osasta:</span>
		<br /><br />

		<ol>
			<li><strong>etuliitteestä</strong>, joka on pääsääntöisesti kaksikirjaiminen maatunnus, ja <strong>väliviivasta</strong> sekä</li>
			<li>korkeintaan 9 merkin pituisesta vapaamittaisesta alfanumeerisesta <strong>kirjastotunnuksesta</strong>.</li>
		</ol>

		<span class="text">
			Maatunnus perustuu ISO 3166-1 -standardin mukaiseen maakoodiin. Itse kirjastotunnuksena voidaan käyttää olemassa olevaa virallista kansallista kirjastotunnusta, joka Suomessa on pääsääntöisesti yhteisluettelotunnus. Siitä voidaan muodostaa ISIL-tunnus yksinkertaisesti liittämällä siihen etuliitteeksi maakoodi ja väliviiva. Suomen maakoodi on FI.
		</span>

		<br /><br />


		<div class="centeredElement">
			<div class="well">
				Esimerkki:
				Tampereen yliopiston kirjaston Humanistis-kasvatustieteellisen osaston kirjaston ISIL-tunnus on <b>FI-Yk</b> = maakoodi FI ja yhteisluettelotunnus Yk
			</div>
		</div>

		Mahdolliset skandinaaviset merkit on kuitenkin kirjoitettava kansainvälisessä muodossa (ä,å > a sekä ö > o).

		<br /><br />

		<h4>Jakelu</h4>


		ISIL-tunnuksien jakelusta vastaavat hajautetusti kansalliset keskukset. Suomessa ISIL-tunnuksia jakaa Kansalliskirjasto.

		<br />

		<br />
		<div class="centeredElement" style="width:40%">
			<div class="panel panel-default">

				<div class="panel-heading">
					<h5 class="panel-title">Yhteystiedot</h5>
				</div>

				<div class="panel-body" style="text-align:left">

					<address>
						<strong>
							Kansalliskirjasto</strong><br />
							Kirjastoverkkopalvelut / Tietovarannot<br />
							PL 26 (Kaikukatu 4)<br />
							00014 Helsingin yliopisto<br />
							Sähköposti: linnea-posti(at)helsinki.fi
						</address>
					</div>
				</div>
			</div>
		</div>