<div class="greenarea">
	<h4>ISIL - kirjastojen ja vastaavanlaisten organisaatioiden kansainvälinen standarditunnus</h4>
	<span class="text">

		ISIL (International Standard Identifier for Libraries and Related Organizations) -järjestelmän tarkoituksena on määritellä ja edistää standarditunnusten käyttöä kirjastojen ja vastaavanlaisten organisaatioiden tunnistamiseen yksiselitteisesti ja konekielisesti. Tavoitteena on myös sen mahdollisimman hyvä yhteensopivuus jo olemassa olevien muiden järjestelmien kanssa. ISIL-muotoinen standarditunnus sisältyy esimerkiksi kokoelmia kuvailevaan ISCI-tunnukseen ja kirjastoissa käytettävään RFID-tunnisteeseen. ISIL-tunnus voidaan antaa kirjastoille, arkistoille, museoille ja näiden yhteistyöorganisaatioille, kuten julkaisijoille, aineiston toimittajille sekä julkishallinnon organisaatioille. Emo-organisaatiolla ja yksittäisillä toimipisteillä voi olla omat ISIL-tunnuksensa. ISIL-tunnuksen rakenne ja käyttö perustuu ISO-standardiin 15511:2011.

		ISIL-tunnus koostuu kolmesta osasta:</span>
		<br /><br />

		<ol>
			<li><strong>etuliitteestä</strong>, joka on pääsääntöisesti kaksikirjaiminen maatunnus,</li>
			<li><strong>väliviivasta</strong> sekä</li>
			<li>korkeintaan 9 merkin pituisesta vapaamittaisesta alfanumeerisesta <strong>kirjastotunnuksesta</strong>.</li>
		</ol>

		<span class="text">
			Maatunnus perustuu ISO 3166-1 -standardin mukaiseen maakoodiin. Itse kirjastotunnuksena voidaan käyttää olemassa olevaa virallista kansallista kirjastotunnusta, joka Suomessa on pääsääntöisesti yhteisluettelotunnus. Siitä voidaan muodostaa ISIL-tunnus yksinkertaisesti liittämällä siihen etuliitteeksi maakoodi ja väliviiva. Suomen maakoodi on FI. Mahdolliset skandinaaviset merkit on kuitenkin kirjoitettava kansainvälisessä muodossa (ä,å > a sekä ö > o).
		</span>

		<br /><br />

		<div class="centeredElement">
			<div class="well">
				Esimerkki:
				Itä-Suomen yliopiston kirjaston Joensuun yksikön ISIL-tunnus on <strong>FI-Jo</strong> = maakoodi FI ja yhteisluettelotunnus Jo
			</div>
		</div>

		<span class="text">
      ISIL-tunnukset on tarkoitettu organisaatioiden pysyviksi tunnisteiksi. Tämän vuoksi kertaalleen rekisteröityä tunnusta ei voi myöhemmin muuttaa. Merkittävien organisaatiouudistusten kuten korkeakoulujen fuusioiden yhteydessä uudelle organisaatiolle voidaan luoda uusi ISIL. Koska ISIL-tunnuksen tehtävä on ainoastaan organisaation tunnistaminen, tunnusten ei tarvitse olla nykyisen nimen mukaisia eikä organisaation yksiköiden tunnusten yhdenmukaisia.
		</span>
    

		<br /><br />

		<h4>Jakelu</h4>

		ISIL-tunnuksien jakelusta vastaavat hajautetusti kansalliset keskukset. Suomessa ISIL-tunnuksia jakaa Kansalliskirjasto.

		<br />

		<br />
		<div class="centeredElement" style="width:40%">
			<div class="panel panel-default">

				<div class="panel-heading">
					<h5 class="panel-title">Yhteystiedot</h5>
				</div>

				<div class="panel-body" style="text-align:left">

					<address>
						<strong>
							Kansalliskirjasto</strong><br />
							PL 15 (Yliopistonkatu 1)<br />
							00014 Helsingin yliopisto<br />
							Sähköposti: isil-tunnistepalvelu(at)helsinki.fi
						</address>
					</div>
				</div>
			</div>
        <a style="color:Blue;" href="/accessibility">Saavutettavuusseloste</a>
		</div>