<div class="center">
<h4>ISIL - Kirjastojen ja vastaavien organisaatioiden kansainvälinen standarditunnus</h4>
<span class="text">
<p>
ISIL (International Standard Identifier for Libraries and Related Organizations) -järjestelmän tarkoituksena on määritellä ja edistää standarditunnusten käyttöä kirjastojen ja vastaavien organisaatioiden tunnistamiseen yksiselitteisesti ja konekielisesti. Tavoitteena on myös sen mahdollisimman hyvä yhteensopivuus jo olemassa olevien muiden järjestelmien kanssa. ISIL-muotoinen standarditunnus sisältyy esimerkiksi kokoelmia kuvailevaan ISCI-tunnukseen ja kirjastoissa käytettävään RFID-tunnisteeseen.
</p>

<p>ISIL-tunnus koostuu kahdesta osasta:</p>

<ol>
<li>etuliitteestä, joka on pääsääntöisesti kaksikirjaiminen maatunnus, ja väliviivasta sekä</li>
<li>korkeintaan 9 merkin pituisesta vapaamittaisesta alfanumeerisesta kirjastotunnuksesta.</li>
</ol>

<p>
Maatunnus perustuu ISO 3166-1 -standardin mukaiseen maakoodiin. Itse kirjastotunnuksena voidaan käyttää olemassa olevaa virallista kansallista kirjastotunnusta, joka Suomessa on pääsääntöisesti yhteisluettelotunnus. Siitä voidaan muodostaa ISIL-tunnus yksinkertaisesti liittämällä siihen etuliitteeksi maakoodi ja väliviiva. Suomen maakoodi on FI.</p>

<br />
<center>
<div class="well" style="width:70%" align="left">
<p>
Esimerkki:
Tampereen yliopiston kirjaston Humanistis-kasvatustieteellisen osaston kirjaston ISIL-tunnus on <b>FI-Yk</b> = maakoodi FI ja yhteisluettelotunnus Yk</p>
</div>
</center>
<p>
Mahdolliset skandinaaviset merkit on kuitenkin kirjoitettava kansainvälisessä muodossa (ä,å > a sekä ö > o).</p>


<br />

<h4>Jakelu</h4>

<p>
ISIL-tunnuksien jakelusta vastaavat hajautetusti kansalliset keskukset. Suomessa ISIL-tunnuksia jakaa Kansalliskirjasto.</p>

<br />

<div class="panel panel-default" style="width: 40%">

	<div class="panel-heading">
		<h5 class="panel-title">Yhteystiedot</h5>
	</div>

	<div class="panel-body">
	Kansalliskirjasto<br />
	Kirjastoverkkopalvelut / Tietovarannot<br />
	PL 26 (Kaikukatu 4)<br />
	00014 Helsingin yliopisto<br />
	Sähköposti: linnea-posti(at)helsinki.fi<br />
	</div>
</div>
</span>
</div>