<center>
	<h3>Suomalaisten kirjastojen ISIL-tunnukset</h3>
	<span class="text">
		<form action ="/process?form=query" method="POST">
			<input type="hidden" name="_csrf" value="{{csrf}}">
			<select name="select">
				<option value="Haku organisaatioista" selected>Haku organisaatioista</option>
				<option value="Haku tunnuksella">Haku tunnuksella</option>
			</select>
			<input type="text" name="query">
			<button type="submit">Hae</button>
		</form>
		<p>
			Voit tehdä haun ISIL-tunnuksista kohdistamalla haun alasvetovalikosta ja syöttämällä hakusanan hakukenttään.<br />
			Tyhjä haku näyttää kaikki voimassa olevat ISIL-tunnukset.</p>
	</span>
</center>