<center>
<div class="center">
    <h3>Hakutulokset</h3>
  
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Nimi</th>
      <th>ISIL</th>
      <th>Kunta</th>
      <th>Linda-tunnus</th>
    </tr>
  </thead>
  <tbody>
  {{#results}}
    <tr>
      <td>{{name}}</td>
      <td>{{isil}}</td>
      <td>{{cities}}</td>
      <td>{{linda}}</td>
    </tr>
  {{/results}}
  </tbody>
</table>
</div>

</div>

</center>