<h3>ISIL-tietokanta</h3>
<p>Haun tulokset:</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nimi</th>
      <th>ISIL</th>
      <th>Linda-tunnus</th>
    </tr>
  </thead>
  <tbody>
  {{#results}}
    <tr>
      <td>{{name}}</td>
      <td>{{isil}}</td>
      <td>{{linda}}</td>
    </tr>
  {{/results}}
  </tbody>
</table>