<div class="greenarea">
    <h1>Tillgänglighetsutlåtande</h1>
    <p>Denna webbplats uppfyller inte alla krav som ställs i lagen om tillhandahållande av digitala tjänster (306/2019). Brister i tillgänglighet specificeras nedan.</p>
    <h2>Icke tillgängligt innehåll</h2>
    <p>Texten i navigationsbalken är otydig.</p>
    <h2>Återkoppling</h2>
    <p>Via e-post: isil-tunnistepalvelu(at)helsinki.fi</p>
    <h2>Tillsynsmyndigheten</h2>
    <p>Transport- och kommunikationsverket Traficom</p>
    <p>Enheten för tillsyn över digital tillgänglighet</p>
    <p><a style="color:Blue;" href="https://www.tillganglighetskrav.fi" target="_blank">www.tillgänglighetskrav.fi</a></p>
    <p>tillganglighet(at)traficom.fi</p>
    <p>Växeln 029 534 5000</p>
</div>