<div class="greenarea">
	<h4>ISIL - bibliotekens och motsvarande organisationers internationella standardidentifikator</h4>
	<span class="text">

  Syftet med ISIL-systemet (International Standard Identifier for Libraries and Related Organizations) är att fastställa och främja användningen av standarder för att entydigt och på ett maskinläsbart sätt kunna identifiera bibliotek och motsvarande organisationer. Målet är också att systemet ska vara så kompatibelt som möjligt med andra befintliga system. En standardkod i ISIL-format ingår till exempel i ISCI-identifikatorn, som beskriver samlingen i fråga, och i bibliotekens RFID-kod. En ISIL-identifikator kan ges till bibliotek, arkiv, museer och deras samarbetsorganisationer, såsom utgivare, materialleverantörer och organisationer inom den offentliga förvaltningen. Moderorganisationen och enskilda verksamhetsställen kan ha egna ISIL-identifikatorer. Strukturen och användningen av ISIL-koder baserar sig på standarden ISO 15511:2011.

		ISIL-identifikatorn består av tre delar:</span>
		<br /><br />

		<ol>
			<li><strong>ett förled</strong> som i regel är en landskod med två bokstäver efterföljt av ett</li>
      <li><strong>bindestreck</strong> och</li>
      <li>en friformat alfanumerisk <strong>koddel för bibliotek</strong> på högst nio tecken med i övrigt fri längd.</li>
		</ol>

		<span class="text">
    Landskoden följer här landskoden enligt standarden ISO 3166-1. Som själva koddelen för bibliotek kan användas det befintliga officiella nationella bibliotekssignumet, som i Finland i regel är signumet i den nationella samkatalogen. Av detta går att skapa en ISIL-identifikator genom att helt enkelt lägga till landskoden och ett bindestreck som förled. Finlands landskod är FI. Eventuella skandinaviska tecken måste dock skrivas i internationell form (ä, å > a och ö > o).
		</span>

		<br /><br />

		<div class="centeredElement">
			<div class="well">
				Exempel:
				ISIL-identifikatorn för Joensuus enhet vid Östra Finlands universitetsbibliotek är <strong>FI-Jo</strong> = FI är landskoden och Jo signumet i den nationella samkatalogen.
			</div>
		</div>

		<span class="text">
      ISIL-identifikatorerna är avsedda som permanenta identifikatorer för organisationer. Därför kan en identifikator som en gång har registrerats inte ändras senare. I samband med stora omorganiseringar, såsom fusioner av högskolor, kan en ny ISIL-identifikator skapas för den nya organisationen. Eftersom ISIL-identifikatorns uppgift endast är att identifiera organisationen, behöver den inte vara i enlighet med det befintliga namnet eller förenlig med organisationens enheters koder.
		</span>
    

		<br /><br />

		<h4>Distribution</h4>

		Nationella centraler ansvarar på ett decentraliserat sätt för att distribuera ISIL-identifikatorer. I Finland distribueras ISIL-identifikatorerna av Nationalbiblioteket.

		<br />

		<br />
		<div class="centeredElement" style="width:40%">
			<div class="panel panel-default">

				<div class="panel-heading">
					<h5 class="panel-title">Kontaktuppgifter:</h5>
				</div>

				<div class="panel-body" style="text-align:left">

					<address>
						<strong>
							Nationalbiblioteket</strong><br />
							PB 15 (Unionsgatan 36)<br />
							00014 Helsingfors universitet<br />
							E-mail: isil-tunnistepalvelu(a)helsinki.fi
						</address>
					</div>
				</div>
			</div>
        <a style="color:Blue;" href="/sv_accessibility">Tillgänglighetsutlåtande</a>
		</div>
