<div class="greenarea">
  <table class="table table-hover">
  <thead>
    <tr>
      <th>Organisation</th>
      <th>Stad</th>
      <th>ISIL</th>
    </tr>
  </thead>
  <tbody>
  {{#results}}
    <tr>
      <td>{{name}}</td>
      <td>{{cities}}</td>
      <td>{{isil}}</td>
    </tr>
  {{/results}}
  </tbody>
</table>
</div>
