.text {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 10pt;
}


.center {
	margin-left: auto;
	margin-right: auto;
	border-radius: 2px;
	border: 1px solid black;
	width: 50%;
	background-color: #F2FBEF;
	padding-top: 10px;
	padding-left: 25px;
	padding-bottom: 25px;
	padding-right: 25px;
	border-radius: 5px;
}

.frame {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 15px;
	padding-right: 25px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 1px;
	border: 1px solid red;
}